body {
  margin: 0;
  font-family:  
  'Source Sans Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F7FB;
}

.margin-top {
  margin-top: 70px;
}
